* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}
.container {
  background-color: #e0e0e0;
  padding: 25px;
  border-radius: 10px;
  /* border: 2px solid red; */
  max-width: 700px;
  width: 100%;
  text-align: center;
}
h1,
h2 {
  color: #333;
  text-shadow: 2px 2px 5px lightgray;
}
input,
select,
button {
  width: 100%;
  padding: 9px;
  margin: 10px 0;
  border: none;
  border-radius: 12px;
  outline: none;
}
button {
  cursor: pointer;
  color: blue;
  font-weight: 600;
  background: linear-gradient(to right, #ff671f, white, green);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #d1d9e6;
  border-radius: 10px;
}

canvas {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffff;
}